a{
  text-decoration: none;
  color: inherit;
}
.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin:20px auto;
}
.header-left img{
  width: 160px;
  height: 40px;
  margin-left: 40px;
}
.header_right{
  display: flex;
  padding: 10px 20px;
  color: gray;
}
.header_right2{
  margin-right: 20px;
}
.top{
  position: relative;
}
.top1{
  position: absolute;
  left: 30%;
  top: 150px;
  z-index: 10;
  width:70%
}
.top2{
  font-family: 'Gorditas', cursive;
  font-size: 50px;
  color: brown;
  padding-bottom: 40px;
}
.top3{
  font-size: 20px;
  color: brown;
  padding-bottom: 20px;
}
.span_text{
  color: aqua;
}
.top5{
  position: absolute;
  left:60%;
  top:50px;
  z-index: 0;
}
.top5 img{
  width:100%;

}

.block{
  width: 100%;
}