a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}
.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin:20px auto;
}
.header-left img{
  width: 160px;
  height: 40px;
  margin-left: 40px;
}
.header_right{
  display: flex;
  padding: 10px 20px;
  color: gray;
}
.header_right2{
  margin-right: 20px;
}
.top{
  position: relative;
}
.top1{
  position: absolute;
  left: 30%;
  top: 150px;
  z-index: 10;
  width:70%
}
.top2{
  font-family: 'Gorditas', cursive;
  font-size: 50px;
  color: rgb(214, 24, 24);
  padding-bottom: 40px;
}
.top3{
  font-size: 20px;
  color: rgb(214, 24, 24);
  padding-bottom: 20px;
}
.span_text{
  color: rgb(6, 148, 148);
}
.top5{
  text-align: right;
}
.top5 img{
  width:60%;
}

.block{
  width: 600px;
  margin:20px auto;
  text-align: center;
}
.block_top{
  text-align: left;
  padding: 30px 0;
  font-size: 20px;
}
.topic{
  background-color: hsl(0, 72%, 42%);
  color: white;
  margin:0px 20px;
  border-radius: 20px;
}
.topic1{
  width: inherit;
  padding-top: 30px;
  padding-bottom: 10px;
  border-top: 2px solid gray;
  text-align: left;
}
.topic2{
    width: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid gray;
    text-align: left;
}
.topic3{
    width: inherit;
    padding-top: 10px;
    padding-bottom: 30px;
    border-top: 1px solid gray;
    border-bottom: 2px solid gray;
    text-align: left;
}
.block2{
  background-color: rgb(241, 237, 237);
  margin:80px 0px 30px 0px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.block2_top{
  text-align: center;
  font-size: 24px;
  margin:20px 10px;
  padding-bottom: 30px;

}
.block_box{
  display: flex;
  justify-content: center;
}
.block_text{
  width: 400px;
  margin-right: 80px;
  line-height: 25px;
}
.image3{
  width: 400px;
  margin-left: 80px;
}

.block3{
  display: grid;
  grid-template-rows: 100px 100px 200px 200px 100px;
  grid-template-columns: 1fr 2fr 2fr 1fr;
} 
.block3_top{
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 20px;
  margin-top: 40px;
}
.block3_box{
  grid-column: 2/3;
  grid-row: 3/5;
  background-color: hsl(0, 72%, 42%);
  text-align: center;
  padding: 40px 20px;
}
.block3_img {
  width: 160px;
}
.block3_top2 {
  padding-top: 20px;
}

.block3_text {
  padding-top: 20px;
  line-height: 20px;
}
.block3_box2{
  grid-column: 3/4;
  grid-row: 3/4;
  background-color: hsl(325, 100%, 50%);
  display: flex;
}
.block3_box3{
  grid-column: 3/4;
  grid-row: 4/5;
  background-color: hsl(325, 92%, 71%);
}

.block3_img2{
  width: 160px;
}

.block4{
  width: 100%;
  margin: 10px 30px;
  text-align: center;
}
.block4_top{
  font-size: 24px;
}
.card{
  width:100%;
  display: flex;
  justify-content: space-around;
}
.card_flex{
  width: 20%;
}
.card_img{
  width: 100%;
}