a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}
.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin:20px auto;
}
.header-left img{
  width: 160px;
  height: 40px;
  margin-left: 40px;
}
.header_right{
  display: flex;
  padding: 10px 20px;
  color: gray;
}
.header_right2{
  margin-right: 20px;
}

.top{
  position: relative;
}
.top1{
  position: absolute;
  left: 25%;
  top: 150px;
  z-index: 10;
  width:70%
}
.top2{
  font-family: 'Indie Flower', cursive;  font-size: 50px;
  color: rgb(214, 24, 24);
  padding-bottom: 40px;
  line-height: 80px;
}
.top3{
  font-size: 20px;
  color: rgb(214, 24, 24);
  padding-bottom: 20px;
  font-weight: bold;
}
.span_text{
  color: rgb(6, 148, 148);
}
.top5{
  text-align: right;
}
.top5 img{
  width:60%;
}

.block{
  width: 600px;
  margin:20px auto;
  text-align: center;
}
.block_top{
  text-align: left;
  padding: 30px 0;
  font-size: 20px;
}
.topic{
  background-color: hsl(0, 72%, 42%);
  color: white;
  margin:0px 20px;
  border-radius: 20px;
}
.topic1{
  width: inherit;
  padding-top: 30px;
  padding-bottom: 20px;
  border-top: 2px solid rgb(201, 199, 199);
  text-align: left;
}
.topic2{
    width: inherit;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgb(201, 199, 199);
    text-align: left;
}
.topic3{
    width: inherit;
    padding-top: 20px;
    padding-bottom: 30px;
    border-top: 1px solid rgb(201, 199, 199);
    border-bottom: 2px solid rgb(201, 199, 199);
    text-align: left;
}
.block2{
  background-color: rgb(241, 237, 237);
  margin:80px 0px 30px 0px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.block2_top{
  text-align: center;
  font-size: 24px;
  margin:20px 10px;
  padding-bottom: 30px;

}
.block_box{
  display: flex;
  justify-content: center;
}
.block_text{
  width: 400px;
  margin-right: 80px;
  line-height: 25px;
}
.image3{
  width: 400px;
  margin-left: 80px;
}

.block3{
  display: grid;
  grid-template-rows: 100px 100px 200px 200px 100px;
  grid-template-columns: 1fr 2fr 2fr 1fr;
} 
.block3_top{
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 20px;
  margin-top: 40px;;
}
.block3_box{
  grid-column: 2/3;
  grid-row: 3/5;
  background-color: hsl(0, 72%, 42%);
  text-align: center;
  padding: 40px 20px;
}
.block3_img {
  width: 160px;
}
.block3_top2 {
  padding-top: 20px;
  color: white;
}

.block3_text {
  padding-top: 20px;
  line-height: 20px;
  color: white;
  text-align: left;
}
.block3_box2{
  grid-column: 3/4;
  grid-row: 3/4;
  background-color: hsl(325, 100%, 50%);
  display: flex;
  align-items: center;
  line-height: 30px;
}
.block3_box3{
  grid-column: 3/4;
  grid-row: 4/5;
  background-color: hsl(325, 92%, 71%);
  display: flex;
  align-items: center;
  line-height: 30px;
}
.block3_top3,.block3_text2{
  color: white;
}
.block3_img2{
  width: 160px;
}


.block4{
  width: 100%;
  margin: 20px 0px;
  padding: 30px;
  background-color: rgb(223, 220, 220);
}
.block4_top{
  font-size: 24px;
  margin-left:6.7%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.card{
  width:100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
.card_flex{
  width: 20%;
  background-color: white;
  border-radius: 20px;
}
.card_img{
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.card_title{
  font-size: 16px;
  padding: 30px 10px;
}
.card_bottom{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 30px 10px;
  color: gray;
}
.block4_btn{
  background: white;
  border: 1px solid #CC0099;
  color: #CC0099;
  border-radius: 30px;
  margin: 30px auto;
  text-align: center;
  width: 200px;
  padding: 20px 0px;
  display: block;
}
/*↓質問2の内容部分*/
.block5{
  width: 100%;
}
.block5_box{
  width: 800px;
  margin: 50px auto;

}
.block5_top{
  font-size: 24px;
  padding: 30px 0;
}
.block5_left{
  padding: 20px 70px 20px 20px;
  background-color: rgb(238, 237, 237);
  text-align: left;
}
.block5_right{
  padding: 20px 400px 20px 20px;
  text-align: left;
}
.block5_left,.block5_right {
  border: solid black 1px;
}

.block6{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 60px;

}
.block6_left img{
  width: 100%;
}
.block6_right img{
  width: 100%;
}
.block6_text{
  font-size: 24px;
  color: white;
  text-align: center;
}
.block6_left, .block6_right{
  position: relative;
}
.block6_text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer1{
  margin-top: 40px;
}
.footer_text{
  margin: 60px auto;
  text-align: center;
  font-weight: bold;
}
.footer_btn{
  background: linear-gradient(90deg, rgb(255, 92, 255), rgb(120, 0, 120));
  color: white;
  width: 200px;
  padding: 20px;
  box-shadow: 0px 10px rgb(64, 1, 64);
  border-radius: 30px;
  text-align: center;
  margin: 60px auto;
  display: block;
  position: relative;
}
.footer_btn::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  background: url(/img/img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translate(0 ,-50%);
}
.copy{
  text-align: center;
  display: block;
  background: rgb(199, 199, 199);
  margin-top: 60px;
  padding: 40px;
}